ansi2html
asttokens
backcall
blinker
certifi
charset-normalizer
click
colorama
comm
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
executing
Flask
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter-dash
jupyter_client
jupyter_core
MarkupSaf
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
platformdirs
plotly
prompt-toolkit
psutil
pure-eval
pycodestyle
Pygments
python-dateutil
pytz
pywin32
pyzmq
requests
retrying
six
stack-data
tenacity
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
zipp
